body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
   background: linear-gradient(180deg,lightgreen,aqua);
}
.loginsection{
    width: 300px;
    height: 400px;
   background: transparent;
   backdrop-filter: blur(6px);
    margin-top: 100px;
    margin-left: 36.3%;
    border: .1px solid rgb(58, 56, 56);
    border-radius: 7px;
    
}
h1{
    width: 100%;
    height: 60px;
   color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.inputusername{
    width: 100%;
    height: 60px;
    
    
}
.inputusername label{
    margin-left: 33.3%;
    font-size: 1.2rem;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}
.inputusername input{
    margin-left: 15.5%;
}
.inputpass{
    width: 100%;
    height: 60px;
    margin-top: 20px;
    
}
.inputpass label{
    margin-left: 33.3%;
    font-size: 1.2rem;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}
.inputpass input{
    margin-left: 15.5%;
}
.submition{
    width: 90px;
    height: 33px;
    background-color: rgb(0, 132, 255);
    border: none;
    color: white;
    font-family: sans-serif;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-left: 33%;
    margin-top: 15px;
    transition: .3s;
    font-weight: bold;
    cursor: pointer;
}
.submition a{
    display: flex;

    text-decoration: none;
    color: black;
}
.submition:hover{
    background-color: rgb(18, 18, 223);

    
}
.submition a:hover{
 color: rgb(255, 255, 255);

    
}

.signup{
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;

}
.dontaccount{
    font-size: 17px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}
.signin a{
text-decoration: none;
color: black;
font-size: 1.1rem;
font-family: sans-serif;
width: 90px;
height: 30px;
background-color: red;
margin-right: 10px;
border-radius: 3px;
color: rgb(0, 0, 0);
transition: .2s;
font-weight: bold;
background: transparent;
}
.signin a:hover{
    color: rgb(255, 0, 0);
    text-decoration: 2px solid rgb(255, 255, 255) underline;
}
@media  screen and (max-width:768px) {

    
}